*{
margin: 0;
}
.fixed-call{
    position: fixed;
    right: 10px;
    top: 70%;
    border-radius: 50%;
    background-color: #4f4fc7;
    width: 60px;
    height: 55px;
    display: flex;
    place-items: center;
}

.navbar{
    height: 100px;
    display: flex;
    box-shadow: 1px 2px 3px 0px #ccc;
    /* place-items: center; */
}
.navbar-logo >img{
    height:100%;
}
.mobile-number{
    text-decoration: none;
    color: #4f4fc7;
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
}
.navbar-actions{
    margin-left: auto;
    padding: 10px;
    display: flex;
    place-items: center;
}
.navbar-actions>a>img{
    width: 70px;
}
.slider{
    height: 450px;
}
.slider >img{
    width: 100%;
    height: 100%;
}
.slider >p{
   font-size: 90px;
   font-weight: bolder;
   color: #4f4fc7;
   position: absolute;
   top: 55%; 
}

#arrow-right{
    right: 2%;
}
#arrow-left{
    left: 2%;
}
.form-container{
    margin: 3% auto;    
    width: 95%;
    min-height: 500px ;
    place-items: center;
    display: flex;
    justify-content: space-evenly;
    background: #dbdada;
    box-shadow: 1px 6px 2px 2px #ccc;
}
form{
    margin-left: auto;
    margin-right: auto;
    flex: .7;

}
input[type=text],input[type=tel]{
    width: 95%;
    background-color: #f8f7f7;
    margin-top: 2%;
    height: 51px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    color: #000;
    
}
.submit-button{
    width: 30%;
    height: 50px;
    border: none;
    background: #4f4fc7;
    margin-top: 3%;
    margin-bottom: 6%;
    border-radius: 10px;
    color: #fff;
    font-size: medium;
    font-weight: bolder;
    
}

.form-heading{
    padding: 30px;
    flex:.3
}
.form-heading>p{
    padding: 10px;
    padding-left: 0;
    color:#888
}
.about{
    /* margin-bottom: 20px; */
    /* padding: 30px; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    place-items: center;
    box-shadow: 4px 3px 5px 4px #ccc;
    
}


.about-content{
    word-spacing: 9px;
    line-height: 25px;
    font-size: 16px;
    min-height: 350px;
    box-shadow: 1px 3px 4px 1px #ccc;
    padding: 10px;
}
 .about-content>h1{
    padding: 10px;
  
}
.about-content >p{
    word-spacing: 9px;
    font-size: 16px;
    color: #888;
} 
.projects-container{
    text-align: center;
}
.projects-container>h1{
    margin-top: 5%;
    margin-bottom: 6%;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    /* height: 400px; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.project{
   flex: 2.5;
   margin: 10px;
}
.project>img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}
.project >p{
    width: 100%;
    height: 10%;
    background-color: #ebebeb;
    border: none;
    padding-top: 20px;
    color: #888;
    margin-top: -5px;
    text-align: center;
    transition: 3s;
}
.service-container{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 600px;
}
.services{
    text-align: center;
    min-width: 100%;
   
}
.service-type-content >p{
    position: relative;
    top: -200px;
    color: #fff;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 40px;
    background-color: rgba(0,0,0, 0.4);
}
.service-type-content>img{
    width: 100%;
    max-height: 600px;

}

.project:hover{
    transform: scale(1.1);
}


.footer{
    background-color: #000;
    text-align: center;
    display: flex;
    height: 50px;
}
.footer>p{
    color: #fff;
    margin: auto;
}

button:hover, .slider >p:hover, .fixed-call:hover,.footer>p {
    cursor: pointer;
}
@media only screen  and (max-width:600px){
    .navbar{
        height: 80px;
    }
    .mobile-number{
        font-size: 15px;
        margin-right: 10px !important;
    }
    .navbar-actions>a>img{
        width: 40px;
    }
    .slider{
        height: auto;
    }
    .slider>p{
        top: 20%;
    }
        .projects{
            flex-direction: column;
            /* margin: 10%; */
            width: fit-content;
        justify-content: inherit;

        }
        .project:hover{
            transform: scale(1);
        }
        .project>p{
            padding-bottom:20px ;
        }
        .about{
            flex-direction: column;
        }
        .form-container{
            flex-direction: column;
        }
        
        .about-image >img{
            width: 100%;
        }
        .service-container{
            height: 300px;
        }
        .service-type-content>p{
            padding: 20px;
            font-size: 30px;
            top: -180px;
        }
        .service-type-content>img{
            height: 300px;
        
        }
      
} 
